In this lecture we're going to address how you can bring multiple dataframe objects together, either by
merging them horizontally, or by concatenating them vertically. Before we jump into the code, we need to
address a little relational theory and to get some language conventions down. I'm going to bring in an image
to help explain some concepts.
![VENN Diagram](datasets/merging1.png)

Ok, this is a Venn Diagram. A Venn Diagram is traditionally used to show set membership. For example, the 
circle on the left is the population of students at a university. The circle on the right is the population
of  staff at a university. And the overlapping region in the middle are all of those students who are also
staff.  Maybe these students run tutorials for a course, or grade assignments, or engage in running research
 experiments.

So, this diagram shows two populations whom we might have data about, but there is overlap between those 
populations.

# Full Outer join(Union):
When it comes to translating this to pandas, we can think of the case where we might have these two 
populations as indices in separate DataFrames, maybe with the label of Person Name. When we want to join the
DataFrames together, we have some choices to make. First what if we want a list of all the people regardless
of whether they're staff or student, and all of the information we can get on them? In database terminology,
this is called a full outer join. And in set theory, it's called a union. In the Venn diagram, it represents
everyone in any circle.

Here's an image of what that would look like in the Venn diagram.

![Union](datasets/merging2.png)

# Inner Join(Intersection):
It's quite possible though that we only want those people who we have maximum information for, those people
who are both staff and students. Maybe being a staff member and a student involves getting a tuition waiver,
and we want to calculate the cost of this. In database terminology, this is called an inner join. Or in set
theory, the intersection. It is represented in the Venn diagram as the overlapping parts of each circle.

Here's what that looks like: ![Intersection](datasets/merging3.png)

## Example:
With that background, let's see an example of how we would do this in pandas, where we would use the merge
function.(staff and students)

In [3]:
import pandas as pd
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR'},
                         {'Name': 'Sally', 'Role': 'Course liasion'},
                         {'Name': 'James', 'Role': 'Grader'}])
staff_df=staff_df.set_index('Name')
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business'},
                           {'Name': 'Mike', 'School': 'Law'},
                           {'Name': 'Sally', 'School': 'Engineering'}])
student_df = student_df.set_index('Name')
print(staff_df.head())
print(student_df.head())

                 Role
Name
Kelly  Director of HR
Sally  Course liasion
James          Grader
            School
Name
James     Business
Mike           Law
Sally  Engineering

There's some overlap in these DataFrames in that James and Sally are both students and staff, but Mike and
Kelly are not. Importantly, both DataFrames are indexed along the value we want to merge them on, which is
called Name.

## merge()
If we want the union of these, we would call merge().
### parameters:
We pass in the DataFrame on the left and the DataFrame on the right
#### optional parameters 'how':
telling merge that we want it to use an outer join, by default it is inner join
#### left_index,right_index:
We want to use the left and right indices as the joining columns.

There are some other parameters we will study ahead

In [8]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Kelly  Director of HR          NaN
Mike              NaN          Law
Sally  Course liasion  Engineering

We see in the resulting DataFrame that everyone is listed. And since Mike does not have a role, and John
does not have a school, those cells are listed as missing values.

If we wanted to get the intersection, that is, just those who are a student AND a staff, we could set the
how attribute to inner. Again, we set both left and right indices to be true as the joining columns

In [10]:
pd.merge(staff_df, student_df, how='inner', left_index=True, right_index=True) # how default value is inner so you can remove it too

                 Role       School
Name
Sally  Course liasion  Engineering
James          Grader     Business

### left and right data frame:
And we see the resulting DataFrame has only James and Sally in it. Now there are two other common use cases
when merging DataFrames, and both are examples of what we would call set addition. The first is when we
would want to get a list of all staff regardless of whether they were students or not. But if they were
students, we would want to get their student details as well. To do this we would use a left join. It is
important to note the order of dataframes in this function:

the first dataframe is the left dataframe and the second is the right.

In [11]:
pd.merge(staff_df, student_df, how='left', left_index=True, right_index=True)

                 Role       School
Name
Kelly  Director of HR          NaN
Sally  Course liasion  Engineering
James          Grader     Business

You could probably guess what comes next. We want a list of all of the students and their roles if they were
also staff. To do this we would do a right join.

In [12]:
pd.merge(staff_df, student_df, how='right', left_index=True, right_index=True)

                 Role       School
Name
James          Grader     Business
Mike              NaN          Law
Sally  Course liasion  Engineering

We can also do it another way. The merge method has a couple of other interesting parameters. First, you
don't need to use indices to join on, you can use columns as well. Here's an example.
### Optional parameter 'on':
Here we have a parameter called "on", and we can assign a column that both dataframe has as the joining column.

First, lets remove our index from both of our dataframes

In [13]:
staff_df = staff_df.reset_index()
student_df = student_df.reset_index()
print(staff_df)
print(student_df)

    Name            Role
0  Kelly  Director of HR
1  Sally  Course liasion
2  James          Grader
    Name       School
0  James     Business
1   Mike          Law
2  Sally  Engineering

Now lets merge using the on parameter

In [15]:
pd.merge(staff_df, student_df, how='right', on='Name')

    Name            Role       School
0  James          Grader     Business
1   Mike             NaN          Law
2  Sally  Course liasion  Engineering

Using the "on" parameter instead of a the index is how I find myself using merge() the most.

### Conflict between DatFrames(Columns with Similar Names):
So what happens when we have conflicts between the DataFrames? Let's take a look by creating new staff and
student DataFrames that have a location information added to them.

In [17]:
staff_df = pd.DataFrame([{'Name': 'Kelly', 'Role': 'Director of HR', 
                          'Location': 'State Street'},
                         {'Name': 'Sally', 'Role': 'Course liasion', 
                          'Location': 'Washington Avenue'},
                         {'Name': 'James', 'Role': 'Grader', 
                          'Location': 'Washington Avenue'}])
student_df = pd.DataFrame([{'Name': 'James', 'School': 'Business', 
                            'Location': '1024 Billiard Avenue'},
                           {'Name': 'Mike', 'School': 'Law', 
                            'Location': 'Fraternity House #22'},
                           {'Name': 'Sally', 'School': 'Engineering', 
                            'Location': '512 Wilson Crescent'}])

In the staff DataFrame, this is an office location where we can find the staff person. And we can see the
Director of HR is on State Street, while the two students are on Washington Avenue, But for the student DataFrame, the location information
is actually their home address.
#### _x and _y:
The merge function preserves this information, but appends an _x or _y to help differentiate between which
index went with which column of data. The _x is always the left DataFrame information, and the _y is always
the right DataFrame information.

Here, if we want all the staff information regardless of whether they were students or not. But if they were
students, we would want to get their student details as well.Then we can do a left join and on the column of
Name.

In [20]:
pd.merge(staff_df, student_df, how='left', on='Name')

    Name            Role         Location_x       School            Location_y
0  Kelly  Director of HR       State Street          NaN                   NaN
1  Sally  Course liasion  Washington Avenue  Engineering   512 Wilson Crescent
2  James          Grader  Washington Avenue     Business  1024 Billiard Avenue

From the output, we can see there are columns Location_x and Location_y. Location_x refers to the Location
column in the left dataframe, which is staff dataframe and Location_y refers to the Location column in the
right dataframe, which is student dataframe.

### Merging w.r.t. Multi Indexing and Multi Columns(More than 1 columns need to match for overlapped data):
let's talk about multi-indexing and multiple columns. It's quite
possible that the first name for students and staff might overlap, but the last name might not. In this
case, we use a list of the multiple columns that should be used to join keys from both dataframes on the on
parameter. Recall that the column name(s) assigned to the on parameter needs to exist in both dataframes.

Here's an example with some new student and staff data

In [21]:
staff_df = pd.DataFrame([{'First Name': 'Kelly', 'Last Name': 'Desjardins', 
                          'Role': 'Director of HR'},
                         {'First Name': 'Sally', 'Last Name': 'Brooks', 
                          'Role': 'Course liasion'},
                         {'First Name': 'James', 'Last Name': 'Wilde', 
                          'Role': 'Grader'}])
student_df = pd.DataFrame([{'First Name': 'James', 'Last Name': 'Hammond', 
                            'School': 'Business'},
                           {'First Name': 'Mike', 'Last Name': 'Smith', 
                            'School': 'Law'},
                           {'First Name': 'Sally', 'Last Name': 'Brooks', 
                            'School': 'Engineering'}])

As you see here, James Wilde and James Hammond don't match on both keys since they have different last
names. So we would expect that an inner join doesn't include these individuals in the output, and only Sally
Brooks will be retained.

In [22]:
pd.merge(staff_df, student_df, how='inner', on=['First Name','Last Name'])

  First Name Last Name            Role       School
0      Sally    Brooks  Course liasion  Engineering

Joining dataframes through merging is incredibly common, and you'll need to know how to pull data from
different sources, clean it, and join it for analysis. This is a staple not only of pandas, but of database
technologies as well.

## Merging vs Concatinating:
If we think of merging as joining "horizontally", meaning we join on similar values in a column found in two
dataframes then concatenating is joining "vertically", meaning we put dataframes on top or at the bottom of
each other

Let's understand this from an example. You have a dataset that tracks some information over the years. And
each year's record is a separate CSV and every CSV ofr every year's record has the exactly same columns.
What happens if you want to put all the data, from all years' record, together? You can concatenate them.